<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Your page title here :)</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/custom.css">


    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>
<div class="row">
    <div class="one-half column" style="margin: 5%">
        <fieldset>
            <legend> Select a service to book</legend>

            <form action="#" th:action="@{/showServiceDetailToBuy}" method="GET">

                <div th:each="sv : ${myServices}">
                    <button class="button button-primary serviceButton" name="id" th:value="${sv.id}">[[${sv.name}]]
                    </button>
                </div>

            </form>



            <hr>

            <form action="/backToMemberAreaButton" method="GET">
                <button class="button button-primary">Back to Member Area</button>
            </form>

            <form action="/backToHomepageButton" method="GET">
                <button class="button button-primary">Back to Home Page</button>
            </form>


        </fieldset>
    </div>
</div>

</body>
</html>