<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Your page title here :)</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/custom.css">


    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>
<div class="row">
    <div class="one-half column" style="margin-top: 25%">
        <fieldset>
            <legend> Select a member to edit</legend>
            <form action="/deleteMemeberRecord" method="GET" enctype="multipart/form-data">
                <select name="id">
                    <!--/*@thymesVar id="myMembers" type="java"*/-->
                    <option th:each="mmbr : ${myMembers}" th:value="${mmbr.id}"
                            th:text="${mmbr.name_first} + ' ' +  ${mmbr.name_last}">
                    </option>
                </select>
                <button class="button button-primary">Delete member profile</button>
            </form>
        </fieldset>
    </div>
</div>

</body>
</html>