<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Member Management System</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/custom.css">


    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>
<div class="row">
    <div class="one-half column" style="margin: 5%">
        <fieldset>

            <legend> Edit Member Profile</legend>
            <h4>Record ID: [[${selectedMember.id}]] </h4>
            <h4>Name: [[${selectedMember.name_first}]] [[${selectedMember.name_last}]] </h4><br>

            <!--/*@thymesVar id="member" type="java"*/-->
            <form action="#" th:action="@{/creatMemberbyThymeleaf}" th:object="${selectedMember}" method="GET">

                <!--    Unchanged fields of member-->
                <input type="hidden" th:field="*{id}" name="id"/>
                <input type="hidden" th:field="*{balance}" name="balance"/>
                <input type="hidden" th:field="*{admin}" name="admin"/>

                <!--    Current fields of member which are ready to modify-->
                <label for="name_first">First name:</label>
                <input type="text" name="name_first" id="name_first" th:value="${selectedMember.name_first}"
                       th:field="*{name_first}">
                <br>
                <label for="name_last">Last name:</label>
                <input type="text" name="name_last" id="name_last" th:value="${selectedMember.name_last}"
                       th:field="*{name_last}">
                <br>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" th:value="${selectedMember.username}"
                       th:field="*{username}">
                <br>
                <label for="password">Password:</label>
                <input type="text" name="password" id="password" th:value="${selectedMember.password}"
                       th:field="*{password}">
                <br>
                <label for="phone">Phone number:</label>
                <input type="tel" name="phone" id="phone" th:value="${selectedMember.phone}"
                       th:field="*{phone}">
                <br>
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" th:value="${selectedMember.email}"
                       th:field="*{email}">
                <br>
                <button class="button button-primary">Update Member record</button>
            </form>


            <hr>

            <form action="/backToUserControlPanel" method="GET">
                <button class="button button-primary">Cancel and Back</button>
            </form>

            <form action="/logout" method="GET">
                <button class="button button-primary">log out</button>
            </form>

            <form action="/backToHomepageButton"  method="GET">
                <button class="button button-primary">Back to Home Page</button>
            </form>

        </fieldset>
    </div>
</div>

<!--&lt;!&ndash;    <form action="#" th:action="@{/creatMemberbyThymeleaf}" th:object="${selectedMember}" method="GET">&ndash;&gt;-->

<!--    <form>-->
<!--        <label for="name_first">First name:</label>-->
<!--        <input type="text" name="name_first2" id="name_first2">-->
<!--        <br>-->
<!--        <label for="name_last">Last name:</label>-->
<!--        <input type="text" name="name_last2" id="name_last2">-->
<!--        <br>-->
<!--        <label for="username">Username:</label>-->
<!--        <input type="text" name="username2" id="username2" >-->
<!--        <br>-->
<!--        <label for="password">Password:</label>-->
<!--        <input type="password" name="password2" id="password2">-->
<!--        <br>-->
<!--        <label for="phone">Phone number:</label>-->
<!--        <input type="tel" name="phone2" id="phone2" >-->
<!--        <br>-->
<!--        <label for="email">Email:</label>-->
<!--        <input type="email" name="email2" id="email2" >-->
<!--        <br>-->
<!--        <button>create a new updated Member record</button>-->
<!--    </form>-->


</body>
</html>