<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Member Management System</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/custom.css">


    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">

    <div class="row">
        <div class="one-half column" style="margin-top: 5%">
            <fieldset>
                <legend>Admin Panel</legend>
                <h3>Welcome [[${loggedMember.name_first}]]! &#128522</h3>

                <form action="/createMemberButton" method="GET">
                    <button class="button button-primary">register a new Member</button>
                </form>

                <form action="/editMemberButton" method="GET">
                    <button class="button button-primary">Edit or Remove Members</button>
                </form>


                <form action="/sendEmailButton" method="GET">
                    <button class="button button-primary">Send Email to Members(to be developed)</button>
                </form>

<!--                <form action="/deleteMemberButton" method="post">-->
<!--                    <button class="button button-primary">Delete Member</button>-->
<!--                </form>-->
                <hr>
                <form action="/listBookedServices" method="GET">
                    <button class="button button-primary">View Booked Services</button>
                </form>
                <form action="/addServiceButton" method="post">
                    <button class="button button-primary">Add Service</button>
                </form>

                <form action="/editServiceButton" method="GET">
                    <button class="button button-primary">Edit or Remove Services</button>
                </form>

                <hr>
                <form action="/listServiceButton" method="GET">
                    <button class="button button-primary">Visit the Services</button>
                </form>
                <form action="/editProfile" method="GET">
                    <button class="button button-primary">Edit your Profile</button>
                </form>
                <form action="/logout" method="GET">
                    <button class="button button-primary">log out</button>
                </form>
            </fieldset>
        </div>
    </div>

</div>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
