<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Member Management System</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/custom.css">


    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>
<div class="row">
    <div class="one-half column" style="margin: 5%">
        <fieldset>
            <legend> Select a service to edit or delete</legend>


            <table>
                <tr>
                    <th>Service Name</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th></th>
                    <th></th>
                </tr>

                <tr th:each="sv : ${myServices}">
                    <td th:text="${sv.name}"/>
                    <td th:text="${sv.category}"/>
                    <td th:text="${sv.description}"/>
                    <td th:text="${sv.price}"/>
                    <form action="#" th:action="@{/showServiceEditForm}" method="GET">
                        <td><button name="id" th:value="${sv.id}">Edit</button></td>
                    </form>

                    <form action="#" th:action="@{/deleteServiceButton}" method="GET">
                        <td><button name="id" th:value="${sv.id}">Delete</button></td>
                    </form>
                </tr>

            </table>

            <form action="/editServiceButton" method="GET">
                <button class="button button-primary">Refresh the list</button>
            </form>


            <hr>

            <form action="/backToUserControlPanel" method="GET">
                <button class="button button-primary">Back to Admin Area</button>
            </form>

            <form action="/backToHomepageButton"  method="GET">
                <button class="button button-primary">Back to Home Page</button>
            </form>



        </fieldset>
    </div>
</div>

</body>
</html>