<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Member Management System</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/custom.css">


    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>
<div class="row">
    <div class="one-half column" style="margin: 5%">
        <fieldset>
            <legend> Booked Services by Members</legend>


            <table>
                <tr>
                    <th>Member ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Username</th>
                    <th>Phone number</th>
                    <th>Email</th>
                    <th>Balance</th>
                    <th>Privilege level</th>
                    <th></th>
                    <th></th>
                </tr>

                <tr th:each="mmbr : ${myMembers}">
                    <td th:text="${mmbr.id}"/>
                    <td th:text="${mmbr.name_first}"/>
                    <td th:text="${mmbr.name_last}"/>
                    <td th:text="${mmbr.username}"/>
                    <td th:text="${mmbr.phone}"/>
                    <td th:text="${mmbr.email}"/>
                    <td th:text="${mmbr.balance}"/>
                    <td>
                        <span th:if="${mmbr.isAdmin == true}">Admin</span>
                        <span th:unless="${mmbr.isAdmin == true}">Member</span>
                    </td>


                    <form action="#" th:action="@{/showEditingForm}" method="GET">
                        <td><button name="id" th:value="${mmbr.id}">Edit</button></td>
                    </form>

                    <form action="#" th:action="@{/deleteMemeberRecord}" method="GET">
                        <td><button id="delete" name="id" th:value="${mmbr.id}">Delete</button></td>
                    </form>
                </tr>

            </table>

            <form action="/editMemberButton" method="GET">
                <button class="button button-primary">Refresh the list</button>
            </form>


            <hr>
            <form action="/backToUserControlPanel" method="GET">
                <button class="button button-primary">Back to Admin Area</button>
            </form>

            <form action="/backToHomepageButton"  method="GET">
                <button class="button button-primary">Back to Home Page</button>
            </form>


        </fieldset>
    </div>
</div>

</body>
<script>
    document.getElementById("delete").addEventListener("click", function() {
(confirm("WARNING: Member will be deleted permanently from the database. Are you sure to continue?"));
    });

</script>
</html>