<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Your page title here :)</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/custom.css">


    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>
<fieldset>

    <legend> Edit Member Profile Information</legend>
    <h4>Record ID: [[${selectedMember.id}]] </h4>
    <h4>Name: [[${selectedMember.name_first}]] [[${selectedMember.name_last}]]  </h4><br>


    <form>
        <label for="name_first">First name:</label>
        <input name="name_first" id="name_first" th:value="${selectedMember.name_first}" required>
        <br>
        <label for="name_last">Last name:</label>
        <input name="name_last" id="name_last" th:value="${selectedMember.name_last}" required>
        <br>
        <label for="username">Username:</label>
        <input name="username" id="username" th:value="${selectedMember.username}" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" th:value="${selectedMember.password}" required>
        <br>
        <label for="phone">Phone number:</label>
        <input type="tel" name="phone" id="phone" placeholder="optional" th:value="${selectedMember.phone}">
        <br>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" th:value="${selectedMember.email}" placeholder="optional">
        <br>
        <label for="isStaff">Organization staff? </label>
        <input name="isStaff" id="isStaff" th:value="${selectedMember.isStaff}">
        <br>
        <button>Update Member record</button>
    </form>


  <!--/*@thymesVar id="member" type="java"*/-->
  <form action="#" th:action="@{/creatMemberbyThymeleaf}" th:object="${selectedMember}" method="GET">

    <input type="hidden" th:field="*{id}" name="id" />

    <label for="name_first">First name:</label>
    <input name="name_first2" id="name_first2" th:field="*{name_first}">
    <br>
    <label for="name_last">Last name:</label>
    <input name="name_last2" id="name_last2" th:field="*{name_last}">
    <br>
    <label for="username">Username:</label>
    <input name="username2" id="username2" th:field="*{username}">
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password2" id="password2" th:field="*{password}">
    <br>
    <label for="phone">Phone number:</label>
    <input type="tel" name="phone2" id="phone2" th:field="*{phone}">
    <br>
    <label for="email">Email:</label>
    <input type="email" name="email2" id="email2" th:field="*{email}">
    <br>
    <label for="isStaff">Organization staff? </label>
    <input name="isStaff2" id="isStaff2" th:field="*{staff}">
    <br>
    <button>create a new updated Member record</button>
  </form>

</fieldset>
</body>
</html>